# Project
*.dSYM
*.swp

# Public data
# We should add .gitignore into each folders rather than there, otherwise these folder will be deleted in git and cause
# some error
#public/test_data
#public/source
#public/down

# npm
node_modules
*.log
*.log.*
*.gz

# psb and xcf
*.psb
*.xcf

# bower
bower_components

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# Idea
.idea

# Binary
#data/problems/
datas/

# Config
server/config_local.js
config/config.js

#zhx
run.sh
*.swo
config/config_local.js

# data
tools/import_cttc
