extends layout

append head
	link(rel='stylesheet' href='/bower_components/highlightjs/styles/default.css')
	script(src='/bower_components/highlightjs/highlight.pack.min.js')
	script hljs.initHighlightingOnLoad();

block content
	div.container
		ul.list-group
			li.list-group-item
				p Q: 比赛形式是什么样的？
				p A: 可多次提交，但取最后一次提交的成绩为该题目的成绩。
			li.list-group-item
				p Q: 比赛全程可以使用U盘和移动硬盘等介质吗？
				p A: 不可以。
			li.list-group-item
				p Q: 考试电脑上没有我要用的软件怎么办？
				p A: 可以前往
					a(href='http://aiur.pacman-thu.org:20170') http://aiur.pacman-thu.org:20170
					span 下载。
			li.list-group-item
				p Q: 有其它问题怎么办?
				p A: 请向现场工作人员求助.
//-			li.list-group-item
//-			p Q: 编译参数是哪些？
//-				p A: C++：
//-					code -std=C++11 -O2
