extends layout

append head
	link(rel='stylesheet' href='/bower_components/highlightjs/styles/default.css')
	script(src='/bower_components/highlightjs/highlight.pack.min.js')
	script hljs.initHighlightingOnLoad();

block content
	div.container
		ul.list-group
			li.list-group-item
				p Q: 比赛形式是什么样的？
				p A: 可多次提交，但取最后一次提交的成绩为该题目的成绩。
			li.list-group-item
				p Q: 比赛全程可以使用U盘和移动硬盘等介质吗？
				p A: 不可以。
			li.list-group-item
				p Q: 考试电脑上没有我要用的软件怎么办？
				p A: 可以前往
					a(href='http://aiur.pacman-thu.org:20170') http://aiur.pacman-thu.org:20170
					span 下载。
			li.list-group-item
				p Q: 如何使用提供的Linux虚拟机?
				p A: NOI-Linux虚拟机的密码是123456, Ubuntu虚拟机的密码是thucst.
			li.list-group-item
				p Q: 编译器的版本是什么？
				p A: 我们提供的g++版本为：g++ (Ubuntu 5.4.0-6ubuntu1~16.04.2) 5.4.0 20160609。
			li.list-group-item
				p Q: 评测机的配置怎么样？
				p A: 评测机的CPU主频2.4GHz。
			li.list-group-item
				p Q: 提交答案怎么交啊？
				p A: 提交答案的提交格式为一个zip文件，zip文件里面包含每个点的答案分别为1.out、2.out……（即不需要多余的后缀）。在windows下右键添加到压缩文件即可，在linux下可以用 zip answer.zip 1.out 2.out ……的方式进行压缩。 换句话说, 你直击打开压缩包后, 就可以直接看到你的答案文件. 
			li.list-group-item
				p Q: 有其它问题怎么办?
				p A: 请向现场工作人员求助.
//-			li.list-group-item
//-			p Q: 编译参数是哪些？
//-				p A: C++：
//-					code -std=C++11 -O2
