extends layout

append head
	script(src='/bower_components/angular/angular.min.js')
	script(src='/javascripts/rejudge.min.js')

- var filtered = 0


block content
	div.container-fluid(ng-controller='RejudgeCtrl')
		div.page-header
			h3 状态和重测
		div.form-group.col-xs-6.col-md-4
			input.form-control(placeholder='Judge id' ng-model='filter._id')
		div.form-group.col-xs-6.col-md-4
			input.form-control(placeholder='Problem title' ng-model='filter.title')
		div.form-group.col-xs-6.col-md-4
			input.form-control(placeholder='Username' ng-model='filter.user')
		div.form-group.col-xs-6.col-md-4
			input.form-control(placeholder='Status' ng-model='filter.status')
		div.form-group.col-xs-6.col-md-4
			input.form-control(placeholder='Score' ng-model='filter.score')
		div.form-group.col-xs-6.col-md-4
			button.btn.btn-danger(ng-click='rejudgeList()') 重测列表
			button.btn.btn-default(style='margin-left: 10px' ng-click='updateList()') 更新
			label
				input(type='checkbox' ng-model='autoref')
				span 自动更新
		table.table.table-hover.table-striped
			thead
				tr
					th #
					th Title
					th User
					th Status
					th Score
					th Time
					th Rejudge
			tbody
				tr(ng-repeat='judge in list' ng-click='see(judge)' style='cursor: pointer')
					td {{ judge._id }}
					td {{ judge.problem.title }}
					td {{ judge.user.realname }} ( {{ judge.user.username }} )
					td {{ judge.status }}
					td {{ judge.score }}
					td {{ judge.submitted_time | date: 'yyyy-MM-dd HH:mm:ss' }}
					td
						button.btn.btn-primary(ng-click='rejudge(judge._id)') 重测

